<!DOCTYPE html>
<html>
  <head>
    <title>Bnb</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.LOOKOUT_TYPES = <%=raw Lookout::TYPES %>
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
